.digit {
	margin: .1rem;
	padding: .5rem;

	position: relative;
	display: inline-block;

	background-color: #333;
	border: #222 2px solid;
	border-radius: 5px;
	color: #fff;

	&:after {
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		content: "";
		border-top: #222 1px solid;

		clear: both;
	}

	&:first-child {
		margin: 0 .2rem 0 0;
	}

	&:last-child {
		margin: 0 0 .2rem 0;
	}
}

.current {
	color: inherit;

	span {
		-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
		clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
	}
}

.current-top {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	overflow: hidden;
	padding: .5rem;

	background-color: #333;
	border: #222 1px solid;
	border-bottom: none;
	border-radius: 5px 5px 0 0;

	transform-origin: center;

	z-index: 10;

	-webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
	clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);

	animation: flipTop 1s linear 0s forwards;
}

.next {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	padding: .5rem;

	z-index: 9;

	-webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
	clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
}
.next-bottom {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	overflow: hidden;
	padding: .5rem;

	background-color: #333;
	border: #222 1px solid;
	border-top: none;
	border-radius: 0 0 5px 5px;

	-webkit-clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);
	clip-path: polygon(0 50%, 100% 50%, 100% 100%, 0% 100%);

	transform: rotateX(90deg);
	transform-origin: center;
	z-index: 10;

	animation: flipBottom 1s linear 0s forwards;
}

@keyframes flipTop {
	0% {
		transform: rotateX(0deg);
	}

	50% {
		transform: rotateX(90deg);
	}

	100% {
		transform: rotateX(90deg);
	}
}

@keyframes flipBottom {
	0% {
		transform: rotateX(90deg);
	}

	50% {
		transform: rotateX(90deg);
	}

	100% {
		transform: rotateX(0deg);
	}
}
