.media{
  width: 100%;

  display: flex;
  flex: 2;
  align-items: center;
  justify-content: center;

  background-color: #000;
  font-size: 15em;

}

.text{
  max-width: 66%;

  text-align: center;
  color: #FFF;
  font-size: 3rem;
}
